* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ul,
  li {
    list-style: none;
  }
}

.clickable {
  cursor: pointer;
}

.deleteButton {
  color: white;
  font-weight: bold;
  background-color: darkred;
  margin-right: 10px;
  border-radius: 50%;
}
