/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.menu > ul > li > a {
  color: #000;
  font-weight: 700;
}
