/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-bottom: 100px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.menu > ul > li > a {
  color: #000;
  font-weight: 700;
}

/* APRESENTAÇÃO */
.apresentacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.textos {
  width: 497px;
}
.textos .resumo h1 {
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  color: #21243d;
  margin-bottom: 20px;
}
.textos .resumo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
  color: #21243d;
  margin-bottom: 20px;
}
.download {
  background-color: #ff6464;
  width: 208px;
  height: 47px;
  border-radius: 2px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.download:hover {
  background-color: #f77f7f;
}
.minha-imagem img {
  width: 243px;
  height: 243px;
  border-radius: 50%;
}

/* POSTS */
.posts {
  background-color: #edf7fa;
  height: 396px;
}
.posts .recents {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
  height: 30px;
}
.posts .recents p {
  width: 300px;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
}
.posts .recents a {
  width: 208px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #00a8cc;
}

.posts .division {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.division .block {
  width: 600px;
  height: 295px;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 50px;
  padding: 20px;
}
.division .block h3 {
  width: 374px;
  height: 85px;
  font-weight: 700;
  font-size: 26px;
  color: #21243d;
  margin-bottom: 10px;
  margin-left: 20px;
}
.division .block p {
  width: 374px;
  height: 34px;
  font-weight: 400px;
  font-size: 18px;
  color: #21243d;
  margin-left: 20px;
}

/* FEATURED */
.featured {
  width: 858px;
  margin-left: 200px;
}
.featured > h3 {
  width: 300px;
  height: 60px;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}
.featured .designing {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
  width: 900px;
  height: 200px;
  gap: 20px;
}
.dashboards h2 {
  width: 400px;
  height: 44px;
  font-weight: 700;
  font-size: 30px;
  color: #21243d;
  margin-bottom: 10px;
}
.dashboards .data {
  display: inline-block;
  width: 62px;
  height: 25px;
  background-color: #142850;
  border-radius: 16px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}
.dashboards .title {
  display: inline-block;
  color: #8695a4;
  height: 34px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  left: 20px;
  margin-bottom: 10px;
}
.dashboards p {
  width: 594px;
  height: 93px;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}

.featured .designing img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}
.illustration h2 {
  width: 400px;
  height: 44px;
  font-weight: 700;
  font-size: 30px;
  color: #21243d;
  margin-bottom: 10px;
}
.illustration .data {
  display: inline-block;
  width: 62px;
  height: 25px;
  background-color: #142850;
  border-radius: 16px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}
.illustration .title {
  display: inline-block;
  color: #8695a4;
  height: 34px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  left: 20px;
  margin-bottom: 10px;
}
.illustration p {
  width: 594px;
  height: 93px;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}
.featured .portraits {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
  width: 900px;
  height: 200px;
  gap: 20px;
}
.featured .portraits img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

.featured .days {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
  width: 900px;
  height: 200px;
  gap: 20px;
}
.featured .days img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}
.typography h2 {
  width: 400px;
  height: 44px;
  font-weight: 700;
  font-size: 30px;
  color: #21243d;
  margin-bottom: 10px;
}
.typography .data {
  display: inline-block;
  width: 62px;
  height: 25px;
  background-color: #142850;
  border-radius: 16px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}
.typography .title {
  display: inline-block;
  color: #8695a4;
  height: 34px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  left: 20px;
  margin-bottom: 10px;
}
.typography p {
  width: 594px;
  height: 93px;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  height: 182px;
}
footer .icons {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
footer .copy {
  display: inline-block;
  width: 300px;
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
